<h1>{{ name }}</h1>

<dl>
  <dt>Nombre:</dt>
  <dd>{{ name }}</dd>

  <dt>Edad:</dt>
  <dd>{{ age }}</dd>

  <dt>Metodo:</dt>
  <dd>{{ getHeroDescription() }}</dd>

  <dt>Capitalizado:</dt>
  <dd>{{ capitalizeName }}</dd>
</dl>

<button class="btn btn-primary mx-1" *ngIf="name !== 'SuperMan'" (click)="changeName()">Cambiar Nombre</button>
<button class="btn btn-secondary" *ngIf="age !== 22" (click)="changeAge()">Cambiar Edad</button>
<button class="btn btn-secondary mx-1" (click)="reset()">Reset</button>
